<h1>Welcome to the best app ever!</h1>

<p><a href="/secret_page">Go to the <strong>secret</strong> page!</a></p>

<p><a href="/auth/github">Log in with Github</a></p>
<p><a href="/auth/facebook">Log in with Facebook</a></p>
