<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Sinatra Omniauth Example</title>
</head>
<body>

<% if signed_in? %>
  <p>
    Signed in as <%= current_user %>.
    <a href="/sign_out">Sign out</a>
  </p>
<% end %>


<%= styled_flash %>

<%= yield %>

</body>
</html>
